
.hide {
  display: none;
  opacity: 0;
}

.display {
  animation: rock 1s cubic-bezier(0.08, 0.82, 0.32, 0.49) forwards;
  display: block;
}

@keyframes rock {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}